{% extends 'base.html' %} {% block content %}



<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
                <h1>{% block title %} {{ postdetail.title }} {% endblock title %}</h1>
                <p class=" text-muted">{{ postdetail.author }} | {{ postdetail.created_on }}</p>
                <p class="card-text ">{{ postdetail.content | safe }}</p>
            </div>
        </div>
        <div class="col-md-4 float-right">
            <div class="card my-3">
                <h5 class="card-header">Another Topic</h5>
                <div class="card-body">
                
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}