{% extends "base.html" %}
{% load static %}
{% block content %}

<title>Blog Detail</title>

<style>
    #iconUpvote:hover {
        fill: #235ff6;
        transform: scale(1.54);
        transition: all 0.15s ease;
    }
    #iconDown:hover {
        fill: #de0505;
        transform: scale(1.54);
        transition: all 0.15s ease;
    }

    .avatar{
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .button {
        display: inline-block;
        border-radius: 4px;
        background-color: #60ce80;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 15px;
        padding: 5px;
        width: 130px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button span:after {
        content: '\00ab';
        position: absolute;
        opacity: 0;
        top: 0;
        /* right: 20px; */
        left: -20px;
        transition: 0.5s;
    }

    .button:hover span {
        padding-left: 15px;
    }

    .button:hover span:after {
        opacity: 1;
        left: 0;
    }


</style>


<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    {% if user.is_authenticated %}
        <script>
            $(document).ready(function(){
                loadData();
            });

            
            function updateCardUpvote(id) {
                $.ajax({
                    url: `/blog/updateUpvote/${id}`,
                    type: 'PATCH',
                    success: function (data) {
                        $(`#${id}-vote`).empty()
                        $(`#${id}-vote`).append(
                        `
                            <ion-icon name="thumbs-up" onclick="updateCardUpvote(${data.pk})" id="iconUpvote"></ion-icon>
                            ${data.fields.upvote}

                            <ion-icon name="thumbs-down" onclick="updateCardDownvote(${data.pk})" id="iconDown"></ion-icon>
                            ${data.fields.downvote}
                        `
                        )
                    }
                });
            }
            
            function updateCardDownvote(id) {
                $.ajax({
                    url: `/blog/updateDownvote/${id}`,
                    type: 'PATCH',
                    success: function (data) {  
                        $(`#${id}-vote`).empty()
                        $(`#${id}-vote`).append(
                        `
                            <ion-icon name="thumbs-up" onclick="updateCardUpvote(${data.pk})" id="iconUpvote"></ion-icon>
                            ${data.fields.upvote}

                            <ion-icon name="thumbs-down" onclick="updateCardDownvote(${data.pk})" id="iconDown"></ion-icon>
                            ${data.fields.downvote}
                        `
                        )
                    }
                });
            } 
            function loadData() {
                const urlParams = new URLSearchParams(window.location.search);
                const id = urlParams.has('id');
                if (id){
                    const id_value = urlParams.get('id');
                    $.get(`/blog/json/id/${id_value}`, function (data) {
                        for (var i = 0; i < data.length; i++) {
                            $('#post').append(card(data[i]))
                        }
                    });
                }
            }

            const card = (data) => 
            `
            <div class="container">
                <div class="row">
                    <div class="mt-3">
                        <div class="card mb-4 shadow p-3 mb-3 bg-body rounded" id="${data.pk}-card">
                            <div class="card-body">
                                <h1>${ data.fields.title }</h1>
                                <p class=" text-muted">${ data.fields.author } |  ${parseDate(data.fields.created_on)}</p>
                                <p class="card-text ">${ data.fields.content }</p>
                            </div>
                            <div class="d-flex justify-content-end m-3">
                                <div id="${data.pk}-vote">   
                                        <ion-icon name="thumbs-up" onclick="updateCardUpvote(${data.pk})" id="iconUpvote"></ion-icon>
                                        ${data.fields.upvote}

                                        <ion-icon name="thumbs-down" onclick="updateCardDownvote(${data.pk})" id="iconDown"></ion-icon>
                                        ${data.fields.downvote}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            `
            
            parseDate = (d) => {
                let date = new Date(d);        
                var mm = date.getMonth() + 1; // getMonth() is zero-based
                var dd = date.getDate();

                let newdate = [(dd>9 ? '' : '0') + dd + '/',
                            (mm>9 ? '' : '0') + mm+  '/',
                            date.getFullYear(),
                        ].join('');
                return newdate + ' at ' + date.getUTCHours() + ':' + date.getUTCMinutes() + ':' + date.getUTCSeconds();
            }   
        </script>
    {% else %}
        <script>
            $(document).ready(function(){
                loadData();
            });

            function loadData() {
                const urlParams = new URLSearchParams(window.location.search);
                const id = urlParams.has('id');
                if (id){
                    const id_value = urlParams.get('id');
                    $.get(`/blog/json/id/${id_value}`, function (data) {
                        for (var i = 0; i < data.length; i++) {
                            $('#post').append(cardunauth(data[i]))
                        }
                    });
                }
            }

            const cardunauth = (data) => 
            `
            <div class="container">
                <div class="row">
                    <div class="mt-3">
                        <div class="card mb-4 shadow p-3 mb-3 bg-body rounded" id="${data.pk}-card">
                            <div class="card-body">
                                <h1>${ data.fields.title }</h1>
                                <p class=" text-muted">${ data.fields.author } |  ${parseDate(data.fields.created_on)}</p>
                                <p class="card-text ">${ data.fields.content }</p>
                            </div>
                            <div class="d-flex justify-content-end m-3">
                                <div id="${data.pk}-vote">   
                                        <ion-icon name="thumbs-up" onclick="alert('Silakan login untuk memberikan upvote')" id="iconUpvote"></ion-icon>
                                        ${data.fields.upvote}

                                        <ion-icon name="thumbs-down" onclick="alert('Silakan login untuk memberikan downvote')" id="iconDown"></ion-icon>
                                        ${data.fields.downvote}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            `
            parseDate = (d) => {
                let date = new Date(d);        
                var mm = date.getMonth() + 1; // getMonth() is zero-based
                var dd = date.getDate();

                let newdate = [(dd>9 ? '' : '0') + dd + '/',
                            (mm>9 ? '' : '0') + mm+  '/',
                            date.getFullYear(),
                        ].join('');
                return newdate + ' at ' + date.getUTCHours() + ':' + date.getUTCMinutes() + ':' + date.getUTCSeconds();
            }   
        </script>

    {% endif %}
    
</head>

<body>
    {% if user.is_authenticated %}
        <nav class="navbar shadow navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home:show_index' %}">
                    <img src="{% static 'NUTRIOUS.png' %}" alt="Logo" height="70" class="d-inline-block align-text-top">
                </a>
                <div class="d-flex flex-row">
                    <div class="dropdown m-auto mx-3">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Profile
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'home:profile' %}">View Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'home:logout' %}">Log Out</a></li>
                        </ul>
                    </div>
                    <!-- Pembeda dari user yang sudah verified dan belum adalah pada border dari profile picture -->
                    {% if user.is_verified_user %}
                    <img src="{{user.profile_url}}" class="rounded-circle shadow avatar m-auto mx-3 border border-success border-3">
                    {% else %}
                    <img src="{{user.profile_url}}" class="rounded-circle shadow avatar m-auto mx-3 border border-danger border-3">
                    {% endif %}
                </div>
            </div>
        </nav>
    {% else %}
        <nav class="navbar shadow navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home:show_index' %}">
                    <img src="{% static 'NUTRIOUS.png' %}" alt="Logo" height="70" class="d-inline-block align-text-top">
                </a>
                <div class="d-flex flex-row-reverse">
                    <a class="btn btn-outline-primary p-2 m-3" role="button" href="{% url 'home:register' %}">Sign Up</a>
                    <a class="btn btn-outline-success p-2 m-3" role="button" href="{% url 'home:login' %}">Log In</a>
                </div>
            </div>
        </nav>
    {% endif %}

    <div class="grid lg:grid-cols-1 md:grid-cols-1 gap-5 mt-8 sm:mt-5 p-4" id="post"></div>
    <div class="d-flex justify-content-center mb-5">
        <button class="button" style="vertical-align:middle" onclick="location.href='/blog/'"><span>Return </span></button>
    </div>

    
</body>

{% endblock content %}