{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    body {
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    #card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
    
    #iconUpvote:hover {
        fill: #235ff6;
        transform: scale(1.54);
    }
    #iconDown:hover {
        fill: #de0505;
        transform: scale(1.54);
    }

    .avatar{
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

</style>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script>
        $(document).ready(function(){
            loadData();
        });

        function updateCardUpvote(id) {
            $.ajax({
                url: `/blog/updateUpvote/${id}`,
                type: 'PATCH',
                success: function (data) {
                    $(`#${id}-vote`).empty()
                    $(`#${id}-vote`).append(
                    `
                        <ion-icon name="thumbs-up" onclick="updateCardUpvote(${data.pk})" id="iconUpvote"></ion-icon>
                        ${data.fields.upvote}

                        <ion-icon name="thumbs-down" onclick="updateCardDownvote(${data.pk})" id="iconDown"></ion-icon>
                        ${data.fields.downvote}
                    `
                    )
                }
            });
        }
        
        function updateCardDownvote(id) {
            $.ajax({
                url: `/blog/updateDownvote/${id}`,
                type: 'PATCH',
                success: function (data) {  
                    $(`#${id}-vote`).empty()
                    $(`#${id}-vote`).append(
                    `
                        <ion-icon name="thumbs-up" onclick="updateCardUpvote(${data.pk})" id="iconUpvote"></ion-icon>
                        ${data.fields.upvote}

                        <ion-icon name="thumbs-down"  onclick="updateCardDownvote(${data.pk})" id="iconDown"></ion-icon>
                        ${data.fields.downvote}
                    `
                    )
                }
            });
        }
    
        const card = (data) =>  
            `<div class="container">
                <div class="row">
                    <div class="mt-3">
                        <div class="card mb-4" id="${data.pk}-card">
                            <div class="card-body">
                                <div>
                                    <h1>${data.fields.title}</h1>
                                </div>
                                <div>
                                    <p>
    
                                        ${data.fields.content.length > 900 
                                            ? data.fields.content.slice(-0, -900) 
                                            : data.fields.content }
                                    </p>
                                </div>
                                <div>
                                    <p class="text-muted">
                                        ${data.fields.author} | ${data.fields.created_on}
                                    </p>  
                                </div>
                                <div>
                                    <div>
                                    </div>
                                    <div class="d-flex justify-content-between mt-3">
                                        <a href="/blog/details/?id=${data.pk}" class="btn btn-primary">Read More &rarr;</a>
                                        <div id="${data.pk}-vote" >   
                                            <ion-icon name="thumbs-up" onclick="updateCardUpvote(${data.pk})" id="iconUpvote"></ion-icon>
                                            ${data.fields.upvote}

                                            <ion-icon name="thumbs-down" onclick="updateCardDownvote(${data.pk})" id="iconDown"></ion-icon>
                                            ${data.fields.downvote}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>`
        
        function loadData() {
            const urlParams = new URLSearchParams(window.location.search);
            const tag = urlParams.has('tag');
            if (tag){
                const tag_value = urlParams.get('tag');
                $.get(`/blog/json/${tag_value}`, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $('#post').append(card(data[i]));
                    }
                });
            } else {
                $.get(`/blog/json`, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $('#post').append(card(data[i]));
                    }
                });
            }
        }
    
        
    </script>
    
</head>


<body>
    {% if user.is_authenticated %}
        <nav class="navbar shadow navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'NUTRIOUS.png' %}" alt="Logo" height="70" class="d-inline-block align-text-top">
                </a>
                <div class="d-flex flex-row">
                    <div class="dropdown m-auto mx-3">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Profile
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'home:profile' %}">View Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'home:logout' %}">Log Out</a></li>
                        </ul>
                    </div>
                    <!-- Pembeda dari user yang sudah verified dan belum adalah pada border dari profile picture -->
                    {% if user.is_verified_user %}
                    <img src="{{user.profile_url}}" class="rounded-circle shadow avatar m-auto mx-3 border border-success border-3">
                    {% else %}
                    <img src="{{user.profile_url}}" class="rounded-circle shadow avatar m-auto mx-3 border border-danger border-3">
                    {% endif %}
                </div>
            </div>
        </nav>
    {% else %}
        <nav class="navbar shadow navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'NUTRIOUS.png' %}" alt="Logo" height="70" class="d-inline-block align-text-top">
                </a>
                <div class="d-flex flex-row-reverse">
                    <a class="btn btn-outline-primary p-2 m-3" role="button" href="{% url 'home:register' %}">Sign Up</a>
                    <a class="btn btn-outline-success p-2 m-3" role="button" href="{% url 'home:login' %}">Log In</a>
                </div>
            </div>
        </nav>
    {% endif %}
    <div class="text-center mt-3 mb-3">
        <h1>Welcome to Trivia Blog</h1>
        <h3>your go-to healthy life helper</h3>
    </div>

    
    <div class="d-flex justify-content-center gap-3">
        <a href="/blog/add-post/" class="btn btn-primary">Share a healthy tips</a>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tagModal">
            Search for available post
        </button>
    </div>
    <div class="grid lg:grid-cols-5 md:grid-cols-2 gap-5 mt-8 sm:mt-5 px-4 py-4" id="post"></div>

    <!-- Modal -->
    <div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Available post</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                {% for tag in taglist %}
                    <a href="/blog/?tag={{tag}}">#{{tag}}</a>
                {% endfor %}
            </div>
            <div class="modal-footer">
            </div>
        </div>
        </div>
    </div>
</body>




{%endblock%}