{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Nutrious</title>
<style>
    .avatar{
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
    body{
      background-color: azure;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock meta %}

{% block content %}
<body>
    <nav class="navbar shadow navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="{% static 'NUTRIOUS.png' %}" alt="Logo" height="70" class="d-inline-block align-text-top">
          </a>
          <div class="d-flex flex-row">
            <div class="dropdown m-auto mx-3">
              <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'home:profile' %}">View Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'home:logout' %}">Log Out</a></li>
              </ul>
            </div>
            <img src="{{profile_url}}" class="rounded-circle shadow avatar m-auto mx-3">
          </div>
        </div>
    </nav>
    <div class="h1 m-3 fw-bold text-center">Admin Dashboard</div>
    <div class="card p-3 m-2 my-3 text-center" style="overflow:auto">
      <div class="h3 text-center fw-bold">User Verification</div>
      <table class="table text-center table-hover table-responsive">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Verified</th>
                <th scope="col">Change</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody id="user-verif"></tbody>
      </table>
    </div>
    <div class="card p-3 m-2 my-3 text-center" style="overflow:auto">
      <div class="h3 text-center fw-bold">Fundraising Verification</div>
      <table class="table text-center table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Opener</th>
                <th scope="col">Description</th>
                <th scope="col">Amount</th>
                <th scope="col">Verified</th>
                <th scope="col">Change</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody id="fundraising-verif"></tbody>
      </table>
    </div>
    <div class="card p-3 m-2 my-3 text-center" style="overflow:auto">
      <div class="h3 text-center fw-bold">Messages</div>
      <table class="table text-center table-hover table-responsive">
        <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">Message</th>
                <th scope="col">Time Sent</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody id="user-msg"></tbody>
      </table>
    </div>
</body>
<script>
  function getAllDonatee(){
    $.get('/donation/json-admin/', function(data){
      showAllDonatee(data);
    })
  };

  function showAllDonatee(data){
    let row = '';
    for (let donatee of data){
      row += `<tr>
                <th scope="row" class="fw-normal m-auto">${donatee.fields.name}</th>
                <th class="fw-normal m-auto">${donatee.fields.opener}</th>
                <th class="fw-normal m-auto">${donatee.fields.description}</th>
                <th class="fw-normal m-auto">${donatee.fields.amountNeeded}</th>
                <th class="fw-normal m-auto">${donatee.fields.is_verified}</th>
                <th><a class="btn btn-success" role="button" href="/donation/change-status/${donatee.pk}">Change Status</a></th>
                <th><a class="btn btn-danger" role="button" onclick="deleteDonatee(${donatee.pk})">Delete Donatee</a></th>    
               </tr>`
    };
    $("#fundraising-verif").html(row);
  };

  function deleteDonatee(id){
    $.ajax({
      type: 'DELETE',
      url: '/donation/delete-admin/' + id,
      dataType: 'json',
      headers: {
        "X-CSRFTOKEN": "{{ csrf_token }}"
      },
      success: function(data){
        getAllDonatee();
      }
    })
  };

  function getAllMessages(){
    $.get('/json-message/', function(data){
      showAllMessages(data);
    })
  };

  function showAllMessages(data){
    let row = '';
    for (let message of data){
      row += `<tr>
                <th scope="row" class="fw-normal m-auto">${message.fields.user}</th>
                <th class="fw-normal m-auto">${message.fields.message}</th>
                <th class="fw-normal m-auto">${message.fields.time_sent}</th>
                <th><a class="btn btn-danger" role="button" onclick="deleteMessage(${message.pk})">Delete Message</a></th>    
               </tr>`
    };
    $("#user-msg").html(row);
  };

  function deleteMessage(id){
    $.ajax({
      type: 'DELETE',
      url: '/delete-msg/' + id,
      dataType: 'json',
      headers: {
        "X-CSRFTOKEN": "{{ csrf_token }}"
      },
      success: function(data){
        getAllMessages();
      }
    })
  };

  function getAllUser(){
    $.get('/json-user/', function(data){
      showAllUser(data);
    })
  };

  function showAllUser(data){
    let row = '';
    for (let user of data){
      if (!user.fields.is_admin){
        row += `<tr>
                <th scope="row" class="fw-normal m-auto">${user.pk}</th>
                <th class="fw-normal m-auto">${user.fields.username}</th>
                <th class="fw-normal m-auto">${user.fields.is_verified_user}</th>
                <th><a class="btn btn-success" role="button" href="/change/${user.pk}">Change Status</a></th>
                <th><a class="btn btn-danger" role="button" onclick="deleteUser(${user.pk})">Delete User</a></th>    
               </tr>`
      }
    };
    $("#user-verif").html(row);
  };

  function deleteUser(id){
    $.ajax({
      type: 'DELETE',
      url: '/delete/' + id,
      dataType: 'json',
      headers: {
        "X-CSRFTOKEN": "{{ csrf_token }}"
      },
      success: function(data){
        getAllUser();
      }
    })
  };

  $(document).ready(function(){
    getAllUser();
    getAllDonatee();
    getAllMessages();
    $(".btn").click(function (){
      getAllUser();
      getAllDonatee();
      getAllMessages();
    });
  });
</script>
{% endblock content %}