{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Log In</title>
<style>
    body{
        background-color: azure;
    }
</style>
{% endblock meta %}

{% block content %}
<body>
    <div class="container p-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-5">
                <div class="card bg-white text-dark shadow-lg border-0" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class = "login">
                            <a href="{% url 'home:show_index' %}" class="m-auto"><img src="{% static 'NUTRIOUS.png' %}" class="img-fluid" 
                                style="width: 200px; height: auto;"></a>
                            <h1 class="title fw-bold">Log In</h1>
                                <p class="h6 text-secondary p-0" style="font-weight: normal;">Please log in to use full features of NUTRIOUS</h4>
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                        <div class="form-floating">
                                            <input type="text" name="username" placeholder="Username" class="form-control my-3">
                                            <label for="floatingInputValue">Username</label>
                                        </div>
                                        <div class="form-floating">
                                            <input type="password" name="password" placeholder="Password" class="form-control my-3">
                                            <label for="floatingInputValue">Password</label>
                                        </div>
                                        
                                        <input class="btn login_btn btn-primary mx-auto m-1" type="submit" value="Login">     
                                    </form>
                                    {% if messages %}
                                        {% for message in messages %}
                                            <p class="h6 text-secondary p-1 mt-1 fw-normal">{{ message }}</p>
                                        {% endfor %}
                                    {% endif %}     
                                <p class="text-align-center mt-2">No account? <a href="/register" class="text-decoration-none fw-bold">Create a new one</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}