.site{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .site-content{
    flex: 1;
  }
.rounded-circle{
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  body{
      background-color: azure;
  }