{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Donation</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
<style>
    .avatar{
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .card-donatee{
        transition: 0.3s;
    }
    .card-donatee:hover{
        background-color: #BEBEBE;
    }
    body{
        background-color: azure;
    }
</style>
<script>
    function getPercentage(needed, collected){
        if(needed <= collected){
            return '100'
        } else{
            let percent = Math.ceil((collected/needed)*100)
            return percent.toString()
        };
    };
    function loadData(){
        $('#card').empty();
        let data_card ="";
        $.ajax({
            url: "{% url 'donation:show_json' %}",
            type: "GET",
            dataType: "json",
            success: function(resp){
                if (resp.length == 0){
                    data_card += `
                        <div class="text-center fw-bold">No Donation</div>
                        <div class="text-center">Verified donations will appear here</div>
                    `
                } else{
                    for (let i of resp){
                        let is_Collected = i.fields.amountNeeded <= i.fields.collectedFunds ? "Collected, but you can still donate if your want" : "Still need more donation"
                        let needed_left = i.fields.amountNeeded - i.fields.collectedFunds
                        needed_left = needed_left < 0 ? 0 : needed_left
                        let amountNeeded = parseInt(i.fields.amountNeeded)
                        let collectedFunds = parseInt(i.fields.collectedFunds)
                        let percent = getPercentage(amountNeeded, collectedFunds)
                        data_card +=`
                            <div class="card card-donatee p-2 m-2" id="donatee-${i.pk}">
                                <div class="card-body m-2">
                                    <div class="card-title fw-bold h2">${i.fields.name}</div>
                                    <div class="card-text m-1">Amount Needed: <span class="fw-bold">${rupiah(amountNeeded)}</span></div>
                                    <div class="card-text m-1">Collected Funds: <span class="fw-bold">${rupiah(collectedFunds)}</span></div>
                                    <div class="card-text m-1">Amount left: <span class="fw-bold">${rupiah(parseInt(needed_left))}</span></div>
                                    <div class="card-text m-1">Donation Status: <span class="fw-bold">${is_Collected}</span></div>
                                    <div class="progress mt-3 mx-1">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: ${percent}%" aria-valuenow="${percent}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <a href="details/${i.pk}" class="stretched-link"></a>
                                </div>
                            </div>
                        `;
                    }
                }
                $('#card').append(data_card);
            },
            error: function(resp){
                console.log('Error?');
            }
        })
    }

    $(document).ready(function(){
        loadData();
    });

    const rupiah = (number)=>{
        return new Intl.NumberFormat("id-ID", {
            style: "currency",
            currency: "IDR"
        }).format(number);
    }
</script>
{% endblock meta %}

{% block content %}
<body>
{% if user.is_user %}
    <nav class="navbar shadow navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home:show_index' %}">
            <img src="{% static 'NUTRIOUS.png' %}" alt="Logo" height="70" class="d-inline-block align-text-top">
        </a>
        <div class="d-flex flex-row">
            <div class="dropdown m-auto mx-3">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Profile
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'home:profile' %}">View Profile</a></li>
                    {% if user.is_verified_user %}
                    <li><a class="dropdown-item" href="{% url 'donation:show_donation_user' %}">Opened Donation(s)</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'home:logout' %}">Log Out</a></li>
                </ul>
            </div>
            <!-- Pembeda dari user yang sudah verified dan belum adalah pada border dari profile picture -->
            {% if user.is_verified_user %}
            <img src="{{user_profile}}" class="rounded-circle shadow avatar m-auto mx-3 border border-success border-3">
            {% else %}
            <img src="{{user_profile}}" class="rounded-circle shadow avatar m-auto mx-3 border border-danger border-3">
            {% endif %}
        </div>
    </div>
    </nav>

    <!-- Card berisi Donatee -->
    <div class="container my-5">
        <div class="row">
            <div id ="card"></div>
        </div>
    </div>

    {% if user.is_verified_user %}
    <a class="m-3 btn btn-primary" href="{% url 'donation:create_donation' %}">Open Donatee</a>
    {% endif %}

{% else %}
<nav class="navbar shadow navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'NUTRIOUS.png' %}" alt="Logo" height="70" class="d-inline-block align-text-top">
        </a>
        <div class="d-flex flex-row">
            <div class="dropdown m-auto mx-3">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Profile
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'home:profile' %}">View Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'home:logout' %}">Log Out</a></li>
                </ul>
            </div>

            {% if is_verified %}
            <img src="{{user.profile_url}}" class="rounded-circle shadow avatar m-auto mx-3 border border-success border-3">
            {% else %}
            <img src="{{user.profile_url}}" class="rounded-circle shadow avatar m-auto mx-3 border border-danger border-3">
            {% endif %}
        </div>
    </div>
</nav>
<div class="h3 text-center m-3">Hello, <span class="fw-bold">{{user.nickname}}</span>!</div>
<div class="h3 text-center m-3">Sorry, <span class="fw-bold">{{user.nickname}}</span>. It seems that
    you are not a verified user. You can't view this page until you are verified.</div>

{% endif %}

</body>
<footer class="bg-secondary text-center text-lg-start shadow text-light">
    <div class="text-center p-3">2022: Platform-Based Programming F02</div>
</footer>
{% endblock content %}