{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Donation</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
<style>
    .nutrious-intro{
        background-image: url("{% static 'bg-header.png' %}");
        transition: transform .2s;
    }
    .nutrious-intro:hover{
        transform: scale(1.02);
    }
    .feature{
        transition: transform .2s;
    }
    .feature:hover{
        transform: scale(1.04);
    }
    .avatar{
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    body{
        background-color: azure;
    }
</style>
{% endblock meta %}

{% block content %}
<body>
{% if user.is_user %}
    <nav class="navbar shadow navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'NUTRIOUS.png' %}" alt="Logo" height="70" class="d-inline-block align-text-top">
        </a>
        <div class="d-flex flex-row">
            <div class="dropdown m-auto mx-3">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Profile
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'home:profile' %}">View Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'home:logout' %}">Log Out</a></li>
                </ul>
            </div>
            <!-- Pembeda dari user yang sudah verified dan belum adalah pada border dari profile picture -->
            {% if user.is_verified_user %}
            <img src="{{user.profile_url}}" class="rounded-circle shadow avatar m-auto mx-3 border border-success border-3">
            {% else %}
            <img src="{{user.profile_url}}" class="rounded-circle shadow avatar m-auto mx-3 border border-danger border-3">
            {% endif %}
        </div>
    </div>
    </nav>
    <div class="h3 text-center m-3">Hello, <span class="fw-bold">{{user.nickname}}</span>!</div>
    <div class="h3 text-center m-3">This is the donation page that you have opened.</div>

    <!-- Card berisi Donatee -->
    <div class="container">
        <div class="row no-gutters">
                <div class="card" id ="card">
                    {% for donatee in data_post %}
                    <div class="card mb-4  mt-3 left  top" id="donatee-${i.pk}">
                        <div class="card-header">
                            <h5 class="card-title">{{donatee.name}}</h5>
                            {% if donatee.is_verified %}
                            <h5 class="card-text" style="color:#25f314;">Verified</h5>
                            {% else %}
                            <h5 class="card-text" style="color:red;">Not Verified</h5>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <p class="card-text ">Description: {{donatee.description}}</p>
                            <p class="card-text">Amount Needed: {{donatee.amountNeeded}}</p>
                            <p class="card-text">Collected Funds: {{donatee.collectedFunds}}</p>
                            <a href="delete/{{donatee.pk}}" class="btn btn-danger">Close Donatee</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>

    <a class="m-3 btn btn-primary" href="{% url 'donation:create_donation_user' %}">Open Donatee</a>

    <a class="m-1 btn btn-primary" href="{% url 'donation:show_donation' %}">Back to Donation Page</a>


{% else %}
<nav class="navbar shadow navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'NUTRIOUS.png' %}" alt="Logo" height="70" class="d-inline-block align-text-top">
        </a>
        <div class="d-flex flex-row">
            <div class="dropdown m-auto mx-3">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Profile
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'home:profile' %}">View Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'home:logout' %}">Log Out</a></li>
                </ul>
            </div>

            {% if is_verified %}
            <img src="{{user.profile_url}}" class="rounded-circle shadow avatar m-auto mx-3 border border-success border-3">
            {% else %}
            <img src="{{user.profile_url}}" class="rounded-circle shadow avatar m-auto mx-3 border border-danger border-3">
            {% endif %}
        </div>
    </div>
</nav>
<div class="h3 text-center m-3">Hello, <span class="fw-bold">{{user.nickname}}</span>!</div>
<div class="h3 text-center m-3">Sorry, <span class="fw-bold">{{user.nickname}}</span>. It seems that
    you are not a verified user. You can't view this page until you are verified.</div>

{% endif %}

</body>
<footer class="bg-secondary text-center text-lg-start shadow text-light">
    <div class="text-center p-3">2022: Platform-Based Programming F02</div>
</footer>
{% endblock content %}