{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
                <h1>{% block title %} {{ postdetail.title }} {% endblock title %}</h1>
                <p class=" text-muted">Creator: {{ postdetail.getAuthorName }}</p>
                <p class="card-text ">Description: {{ postdetail.description | safe }}</p>
                <p class="card-text ">Amount Needed: {{ postdetail.amountNeeded | safe }}</p>
                <p class="card-text ">Collected Funds: {{ postdetail.collectedFunds | safe }}</p>
                <form method="POST" action="donate/{{ postdetail.pk }}">
                    {% csrf_token %}
                    <p class="card-text">Donate: </p>
                    <input type="number" name="amount" placeholder="Amount" class="form-control">
                    <br>
                    <button class="btn btn-warning" type="submit" value="Donate">Donate</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}