{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Donation</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
<link rel="stylesheet" href="{% static '/donationPageStyle.css' %}" />
<link rel="stylesheet" href="{% static '/invalidButton.css' %}" />
<script src="{% static '/donationPageUserJS.js' %}"></script>
{% endblock meta %}

{% block content %}
<body>
{% if user.is_user %}
    <nav class="navbar shadow navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'NUTRIOUS.png' %}" alt="Logo" height="70" class="d-inline-block align-text-top">
        </a>

        <div class="d-flex flex-row">
            {% if user.is_verified_user %}
            <a class="m-3 btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">Open Donations</a>
            {% endif %}
            <div class="dropdown m-auto mx-3">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Profile
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'home:profile' %}">View Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'home:logout' %}">Log Out</a></li>
                </ul>
            </div>
            <!-- Pembeda dari user yang sudah verified dan belum adalah pada border dari profile picture -->
            {% if user.is_verified_user %}
            <img src="{{user_profile}}" class="rounded-circle shadow avatar m-auto mx-3 border border-success border-3">
            {% else %}
            <img src="{{user_profile}}" class="rounded-circle shadow avatar m-auto mx-3 border border-danger border-3">
            {% endif %}
        </div>
    </div>
    </nav>
    <div class="h5 text-center m-3">Donations opened by <span class="fw-bold">{{user}}</span></div>

    <!-- Card berisi Donatee -->
    <div class="container my-5">
        <div class="row">
                <div id ="card">

                </div>
        </div>
    </div>

<!-- Modal -->
<div id="modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Open Donations</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="" id="form_modal">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <table>
                        <tr class="fieldWrapper">
                            {{ form.name.errors }}
                            <td class="p m-3">Donatee Name: </td>
                            <td class="m-3">{{ form.name }}</td>
                        </tr>
                        <tr class="fieldWrapper">
                            {{ form.description.errors }}
                            <td class="p m-3">Description: </td>
                            <td class="m-3">{{ form.description }}</td>
                        </tr>
                        <tr class="fieldWrapper">
                            {{ form.amountNeeded.errors }}
                            <td class="p m-3">Amount Needed: </td>
                            <td class="p m-3"><input type="number" id="{{form.amountNeeded.id_for_label}}" name="{{form.amountNeeded.html_name}}"
                                       class="form-control{% if form.amountNeeded.errors %} is-invalid{% endif %}"
                                       value="{% if form.amountNeeded.value %}{{form.amountNeeded.value}}{% endif %}" placeholder="Min: 100000" min="100000" required></td>
                        </tr>
                        <tr>
                            <td class="p m-3"><button class="btn btn-warning" type="submit" value="Open Donatee">Open Donatee</button></td>
                        </tr>
                    </table>

                </form>
            </div>
        </div>
    </div>
</div>

    <a class="m-1 btn btn-primary" href="{% url 'donation:show_donation' %}">Back to Donation Page</a>


{% else %}
<nav class="navbar shadow navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'NUTRIOUS.png' %}" alt="Logo" height="70" class="d-inline-block align-text-top">
        </a>
        <div class="d-flex flex-row">
            <div class="dropdown m-auto mx-3">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Profile
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'home:profile' %}">View Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'home:logout' %}">Log Out</a></li>
                </ul>
            </div>

            {% if is_verified %}
            <img src="{{user.profile_url}}" class="rounded-circle shadow avatar m-auto mx-3 border border-success border-3">
            {% else %}
            <img src="{{user.profile_url}}" class="rounded-circle shadow avatar m-auto mx-3 border border-danger border-3">
            {% endif %}
        </div>
    </div>
</nav>
<div class="h3 text-center m-3">Hello, <span class="fw-bold">{{user.nickname}}</span>!</div>
<div class="h3 text-center m-3">Sorry, <span class="fw-bold">{{user.nickname}}</span>. It seems that
    you are not a verified user. You can't view this page until you are verified.</div>

{% endif %}

</body>
<footer class="bg-secondary text-center text-lg-start shadow text-light">
    <div class="text-center p-3">2022: Platform-Based Programming F02</div>
</footer>
{% endblock content %}