{% extends 'base.html' %}
{% load static %}

<head>
    {% block meta %}
    <title>Food Sharing</title>
    <style>
        body {
            background-color: azure;
        }
    </style>
    {% endblock meta %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Food Sharing</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

{% block content %}

<body>
    {% if user.is_user %}
    <nav class="navbar shadow navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'NUTRIOUS.png' %}" alt="Logo" height="70" class="d-inline-block align-text-top">
            </a>
            <div class="d-flex flex-row">
                <button type="button" class="btn btn-outline-primary p-2 m-1" data-bs-toggle="modal"
                    data-bs-target="#Modal" id="modal-btn">Add Loc</button>
                <div class="dropdown m-auto mx-3">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Profile
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'home:profile' %}">View Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'home:logout' %}">Log Out</a></li>
                    </ul>
                </div>

                {% if user.is_verified_user %}
                <img src="{{user_profile}}" class="rounded-circle shadow avatar m-auto mx-3 border border-success border-3">
                {% else %}
                <img src="{{user_profile}}" class="rounded-circle shadow avatar m-auto mx-3 border border-danger border-3">
                {% endif %}

            </div>
        </div>
    </nav>


    <div class="todolist d-flex align-items-center justify-content-center">
        <form class="todolist-form text-center" method="POST">
            {% csrf_token %}
            <br>
            <h1 class="text-uppercase">Info Sharing Food</h1>

            <p>User: {{user}}</p>
            <div class="modal" tabindex="-1" id="Modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Location</h5>
                            <button id="close-modal" class="close">&times;</button>
                            </button>
                        </div>

                        <div class="modal-body">
                            
                            <td>URl Image</td>
                            <td><input type="url" name="image" placeholder="Image" class="form-control" id="input_image" required></td>
                            
                            <td>Location</td>
                            <td><input type="text" name="location" placeholder="Location" class="form-control"
                                    id="input_location" required></td>

                            <td>Description</td>
                            <td><input type="text" name="description" placeholder="Description"
                                    style="min-height: 100px" class="form-control" id="input_description" required ></td>

                        </div>

                        <div class="modal-footer">
                            <button id="create_post" class="btn button-custom rounded-pill" data-dismiss="modal">Add
                                Location</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" tabindex="-1" id="edit-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Location</h5>
                            <button id="close-edit-modal" class="close">&times;</button>
                            </button>
                        </div>

                        <div class="modal-body">
                            
                            <td>URl Image</td>
                            <td><input type="url" name="image" placeholder="Image" class="form-control" id="input_image" required></td>
                            
                            <td>Location</td>
                            <td><input type="text" name="location" placeholder="Location" class="form-control"
                                    id="input_location" required></td>

                            <td>Description</td>
                            <td><input type="text" name="description" placeholder="Description"
                                    style="min-height: 100px" class="form-control" id="input_description" required ></td>

                        </div>

                        <div class="modal-footer">
                            <button id="edit_post" class="btn button-custom rounded-pill" data-dismiss="modal">Update Post</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
    {% else %}
    <nav class="navbar shadow navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'NUTRIOUS.png' %}" alt="Logo" height="70" class="d-inline-block align-text-top">
            </a>
            <div class="d-flex flex-row-reverse">
                <a class="btn btn-outline-primary p-2 m-3" role="button" href="{% url 'home:register' %}">Sign Up</a>
                <a class="btn btn-outline-success p-2 m-3" role="button" href="{% url 'home:login' %}">Log In</a>
                <p class="btn-outline-primary p-2 m-3">You have to log in to to post location of food sharing </p>
            </div>
        </div>
    </nav>

    {% endif %}
    <div class= "container">
        <div class="card" id="card"></div>
        
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


    <script>
        function createCard() {
            console.log("masukkkk")
            $('#card').empty();
            let data_card = "";
            $.get("json/", function (resp) {
                for (let i of resp) {
                    data_card += ` 
                    <div class="p-3">
                        <div class="card mb-3 text-bg-dark">
                            <div class="row g-0">
                                <div class="col-md-4 bg-light text-center">
                                    <img src=${i.fields.img}
                                        class="img-fluid rounded-start"
                                        style="max-width:md-4; max-height:300px; width: auto; height: auto;">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">${i.fields.location}</h5>
                                        <p class="card-text">${i.fields.description}</p>
                                        <p class="card-text">${i.fields.date}</small></p>
                                        
                                        <button href="edit_add/${i.pk}" type="button" class="btn btn-outline-primary p-2 m-1" data-bs-toggle="modal"
                                        data-bs-target="#edit-modal" id="edit-modal-btn-${i.pk}">Edit</button>
                                        <a href="delete/${i.pk}" class="btn btn-outline-primary p-2 m-1">Delete</a>
                                    </div>
                                <div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    `
                };

                $('#card').append(data_card);
            })
        }

        $(document).ready(function () {
            createCard();
            function validate() {
                if ($('#input_location').val().length > 0 &&
                    $('#input_description').val().length > 0 &&
                    $('#input_image').val().length > 0) {
                    $("#Send-footer").prop("disabled", false);
                }
                else {
                    $("#Send-footer]").prop("disabled", true);
                }
            }

            $("#create_post").click(function (e) {
                console.log("ada masuk");
                var location = $("#input_location").val();
                var description = $("#input_description").val();
                var img = $("#input_image").val();
                validate();
                console.log(location)
                $.post("add_location/",
                    {
                        location,
                        description,
                        img,
                    },

                    function (data, status) {
                        createCard();
                        console.log("create card success");
                        $("#input_location").val("");
                        $("#input_description").val("");
                        $("#input_image").val("");
                    });

            });

            $("#edit_post").click(function (e) {
                console.log($.get("edit_add/${i.pk}"));
                console.log($(this).data);
                console.log("ini kan");
                
                var location =  $("#input_location").val();
                var description = $("#input_description").val();
                var img = $("#input_image").val();
                validate();
                console.log(location)
                $.post("edit_add/",
                    {
                        location,
                        description,
                        img,
                    },

                    function (data, status) {
                        createCard();
                        console.log("create card success");
                        $("#input_location").val("");
                        $("#input_description").val("");
                        $("#input_image").val("");
                    });

            });
        });
        
        $('#modal-btn').click(function (e) {
            e.preventDefault();
            $('#Modal').modal();
        });

        $('#edit-modal-btn').click(function (e) {
        // $('[id^="edit-modal-btn"]').click(function (e) {
            e.preventDefault();
            $('#edit-modal').modal();
        });

        $('#close-modal').click(function (e) {
            e.preventDefault();
            $('#Modal').modal("hide");
        });

        $('#close-edit-modal').click(function (e) {
            e.preventDefault();
            $('#edit-modal').modal("hide");
        });


    </script>

</body>


<footer class="bg-secondary text-center text-lg-start shadow text-light">
    <div class="text-center p-3">2022: Platform-Based Programming F02</div>
</footer>
{% endblock content %}