<!-- {% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Location Detail</title>
<style>
    body{
        background-color: rgb(255, 245, 207);
    }
</style>
{% endblock meta %}

{% block content %}
<h1></h1>

<div>
    <a href="/foodsharing/location_detail" class="btn btn-primary">Back</a>
</div>
{% endblock content %} -->

{% extends 'base.html' %} 
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="text-muted">{{ locationdetail.author }} | {{ locationdetail.date }}</p>
                <p class="card-text ">{{ locationdetail.location }} | {{ locationdetail.description }}</p>
            </div>
        </div>  
    </div>
</div>

{% endblock content %}