
{% extends 'base.html' %}
{% load static %}
{% block meta %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
<script src="{% static '/caloriePageJS.js' %}"></script>
<link rel="stylesheet" href="{% static '/caloriePageStyle.css' %}" />
<title>Calorie Tracker</title>
{% endblock meta %}
{% block content %}
    <body>
        <nav class="navbar shadow navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home:show_index' %}">
                    <img src="{% static 'NUTRIOUS.png' %}" alt="Logo" height="70" class="d-inline-block align-text-top">
                </a>
                <div class="d-flex flex-row">
                    
                        <button type="button"  class="btn button p-2 m-1" data-bs-toggle="modal" data-bs-target="#Modal" id="Test">
                            Add Calorie
                        </button>
                        <button type="button"  class="btn button p-2 m-1"data-bs-toggle="modal" data-bs-target="#Modal1" id="Test1">
                            Reduce Calorie
                        </button>
                    <div class="dropdown m-auto mx-3">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Profile
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'home:profile' %}">View Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'home:logout' %}">Log Out</a></li>
                        </ul>
                    </div>
                     <!-- Pembeda dari user yang sudah verified dan belum adalah pada border dari profile picture -->
                    {% if user.is_verified_user %}
                    <img src="{{user_profile}}" class="rounded-circle shadow avatar m-auto mx-3 border border-success border-3">
                    {% else %}
                    <img src="{{user_profile}}" class="rounded-circle shadow avatar m-auto mx-3 border border-danger border-3">
                    {% endif %}
                </div>
            </div>
        </nav>
        <div>
            <form method="POST">
                {% csrf_token %}
                <br>
                <br> 
                <div class="text-center">
                    <h1 class="fw-bold">Welcome to Calorie Tracker, {{nickname}} !</h1>
                    <br>
                    <p>This is your calorie tracker for today</p>
                    <p>Refresh page to delete your yesterday calorie tracker</p>
                    <p id="date-info"></p>
                    <br>
                </div>
                <div class="row align-items-center justify-content-center text-center">
                    <div  style="width: 18rem;">
                      <div class="card mb-3 card-calorie">
                        <div class="card-body">
                          <h5 class="card-title">Calories you have consumed</h5>
                          <div class="card-text" id="counter_add"></div>
                        </div>
                      </div>
                    </div>
                    <div  style="width: 18rem;">
                        <div class="card mb-3 card-calorie">
                          <div class="card-body">
                            <h5 class="card-title">Calories you have burned</h5>
                            <div class="card-text" id="counter_decrease"></div>
                          </div>
                        </div>
                    </div>
                    <div  style="width: 18rem;">
                        <div class="card mb-3 card-calorie">
                          <div class="card-body">
                            <h5 class="card-title">Your total accumulated calories</h5>
                            <div class="card-text" id="total"></div>
                          </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="modal" tabindex="-1" id="Modal" >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title w-100 text-center fw-bold pl-100">Add calorie</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                        </div>
                        <div class="modal-body">
                            <td>Calorie</td>
                            <td><input type="number" name="calorie" min="0" placeholder="Calorie" class="form-control" id="input_calorie"  oninput="validity.valid||(value='');"/></td>
                            <br>
                            <td>Deskripsi </td>
                            <textarea name="deskripsi" placeholder="Deskripsi" style="min-height: 100px" class="form-control" id="input_deskripsi"></textarea>
                            <br>
                            <label for="category">Choose a category:</label>
                            <select name="category" id="category">
                                <option value="Breakfast">Breakfast</option>
                                <option value="Lunch">Lunch</option>
                                <option value="Dinner">Dinner</option>
                                <option value="Snack">Snack</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button id="add" class="btn button"  data-dismiss="modal">Add Calorie</button>
                            <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="modal" tabindex="-1" id="Modal1">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title w-100 text-center fw-bold pl-100">Reduce calorie</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                        </div>
                        <div class="modal-body">
                            <td>Calorie</td>
                            <td><input type="number" name="calorie"  min="0" placeholder="Calorie" class="form-control" id="input_calorie1" oninput="validity.valid||(value='');"/></td>
                            <br>
                            <td>Deskripsi </td>
                            <textarea name="deskripsi" placeholder="Deskripsi" style="min-height: 100px" class="form-control" id="input_deskripsi1" ></textarea>
                        </div>
                        <div class="modal-footer">
                            <button id="decrease" class="btn button"  data-dismiss="modal">Reduce Calorie</button>
                            <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                </div>


                <div class="container">
                    <div class="row no-gutters">
                            <div id ="card"></div>
                    </div>
                </div>
                
            </form>
        </div>

    </body>
{% endblock content %}
