
{% extends 'base.html' %}
{% load static %}
{% block meta %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
<style>
.card-calorie:hover{
    transform: scale(1.02);
}
.avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
body{
    background-color: azure;
}
.button{
    background-color:rgb(255, 223, 95);
    color:white;
}

  
</style>
<script>
function deleteCard(){
    $.get("json/", function(resp) {
       var date = new Date();
        for (let i of resp){
            x=i.fields.date
            tanggal = x.slice(8,10)
            if(tanggal<date.getDate()){
                $.ajax({
                url: "delete/" + i.pk,
            error: function (data) {
                alert("it didnt work");
        }
    });
            }
        }
    })
}   
        
function createCard(){
    $('#card').empty();
    let data_card ="";
    $.get("json/", function(resp) {
        var counter_add = 0
        var counter_decrease = 0
        var total = 0
        for (let i of resp){
            if ( i.fields.category == 'Burn Calorie'){
                data_card +=
                `
                <div class="card mb-4 card-calorie">
                    <div class="card-body">
                        <div class="card-title fw-bold h2">${i.fields.category}</div>
                        <div class="card-text m-1">Calorie: ${i.fields.calorie} kkal</div>
                        <div class="card-text m-1">Description: ${i.fields.description}</div>
                        <div class="card-text m-1">Time added: ${i.fields.time}</div>
                        <a href="delete/${i.pk}"  class="btn btn-primary link">Delete</a>
                        <a href="edit_reduce/${i.pk}" class="btn btn-primary link">Edit</a>
                    </div>
                </div>
                `
            }else{
            data_card +=
            `
                <div class="card mb-4 card-calorie">
                    <div class="card-body">
                        <div class="card-title fw-bold h2">${i.fields.category}</div>
                        <div class="card-text m-1">Calorie: ${i.fields.calorie} kkal</div>
                        <div class="card-text m-1">Description: ${i.fields.description}</div>
                        <div class="card-text m-1">Time added: ${i.fields.time}</div>
                        <a href="delete/${i.pk}"  class="btn btn-primary link">Delete</a>
                        <a href="edit_add/${i.pk}" class="btn btn-primary link">Edit</a>
                    </div>
                </div>
                `
            }
            ;
            if(i.fields.is_increasing){
                counter_add += i.fields.calorie
            }else{
                counter_decrease += i.fields.calorie
            }
            total = counter_add - counter_decrease
            
            document.getElementById('counter_add').innerText = counter_add +' kkal'
            document.getElementById('counter_decrease').innerText = counter_decrease +' kkal'
            if(total<0){
                document.getElementById('total').innerText = 0 +' kkal'
            }else{
            document.getElementById('total').innerText = total +' kkal'
            }
        }
        $('#card').append(data_card);
        
    })
}          
$(document).ready(function(){
    var date = new Date();
    document.getElementById('date-info').innerText = date.toDateString();
    document.getElementById('counter_add').innerText = 0
    document.getElementById('counter_decrease').innerText = 0
    document.getElementById('total').innerText = 0

    createCard();
    deleteCard();
    $("#decrease").click(function(e){
        var calorie = $("#input_calorie1").val();
        var description = $("#input_deskripsi1").val();
        var category = 'Burn Calorie'
        var date = new Date();
        var hours = date.getHours();  
        var minutes = "0" + date.getMinutes();
        var seconds = "0" + date.getSeconds(); 
        time =  hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
        $.post("reduce_calorie/",
        {
            calorie,
            description,
            category,
            time,
            date,
        },
        function(data, status){
            createCard();
            $("#input_deskripsi").val("");
            $("#input_calorie").val("");
            document.getElementById("category1").value;
        });
    });
    $("#add").click(function(e){
        var calorie = $("#input_calorie").val();
        var description = $("#input_deskripsi").val();
        var category = document.getElementById("category").value;
        var date = new Date();
        var hours = date.getHours();  
        var minutes = "0" + date.getMinutes();
        var seconds = "0" + date.getSeconds(); 
        time =  hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
        $.post("add_calorie/",
        {
            calorie,
            description,
            category,
            time,
            date,
        },
        function(data, status){
            console.log("test6")
            createCard();
            $("#input_deskripsi").val("");
            $("#input_calorie").val("");
            document.getElementById("category").value;
        });
    });
    
});
$('#Test').click(function(e){
    e.preventDefault();
    $('#Modal').modal();
});
$('#Test1').click(function(e){
    e.preventDefault();
    $('#Modal1').modal();
});
$('#closeBtn').click(function(e){
    e.preventDefault();
    $('#Modal').modal('hide');
})
$('#closeBtn').click(function(e){
    e.preventDefault();
    $('#Modal1').modal('hide');
})
</script>


{% endblock meta %}

{% block content %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
   

    </head>
    <body>
        <nav class="navbar shadow navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home:show_index' %}">
                    <img src="{% static 'NUTRIOUS.png' %}" alt="Logo" height="70" class="d-inline-block align-text-top">
                </a>
                <div class="d-flex flex-row">
                    <button type="button"  class="btn button p-2 m-1" data-bs-toggle="modal" data-bs-target="#Modal" id="Test">
                        Add Calorie
                    </button>
                    <button type="button"  class="btn button p-2 m-1"data-bs-toggle="modal" data-bs-target="#Modal1" id="Test1">
                        Reduce Calorie
                    </button>
                    <div class="dropdown m-auto mx-3">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Profile
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'home:profile' %}">View Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'home:logout' %}">Log Out</a></li>
                        </ul>
                    </div>
                     <!-- Pembeda dari user yang sudah verified dan belum adalah pada border dari profile picture -->
                    {% if user.is_verified_user %}
                    <img src="{{user_profile}}" class="rounded-circle shadow avatar m-auto mx-3 border border-success border-3">
                    {% else %}
                    <img src="{{user_profile}}" class="rounded-circle shadow avatar m-auto mx-3 border border-danger border-3">
                    {% endif %}
                </div>
            </div>
        </nav>
        <div>
            <form method="POST">
                {% csrf_token %}
                <br>
                <div class="text-center">
                <h2 class="fw-bold">Welcome {{nickname}} !</h2>
                <p>This is your calorie tracker for today</p>
                <p>Refresh page to delete your yesterday calorie tracker</p>
                <p id="date-info"></p>
                </div>
                <div class="row align-items-center justify-content-center text-center">
                    <div  style="width: 18rem;">
                      <div class="card mb-3 card-calorie">
                        <div class="card-body">
                          <h5 class="card-title">Calories you have consumed</h5>
                          <div class="card-text" id="counter_add"></div>
                        </div>
                      </div>
                    </div>
                    <div  style="width: 18rem;">
                        <div class="card mb-3 card-calorie">
                          <div class="card-body">
                            <h5 class="card-title">Calories you have burned</h5>
                            <div class="card-text" id="counter_decrease"></div>
                          </div>
                        </div>
                    </div>
                    <div  style="width: 18rem;">
                        <div class="card mb-3 card-calorie">
                          <div class="card-body">
                            <h5 class="card-title">Your total accumulated calories</h5>
                            <div class="card-text" id="total"></div>
                          </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="modal" tabindex="-1" id="Modal" >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title w-100 text-center fw-bold pl-100">Add calorie</h5>
                          <button id="closeBtn" class="close">&times;</button>
                        </div>
                        <div class="modal-body">
                            <td>Calorie</td>
                            <td><input type="number" name="calorie" min="0" placeholder="Calorie" class="form-control" id="input_calorie"  oninput="validity.valid||(value='');"/></td>
                            <br>
                            <td>Deskripsi </td>
                            <textarea name="deskripsi" placeholder="Deskripsi" style="min-height: 100px" class="form-control" id="input_deskripsi"></textarea>
                            <br>
                            <label for="category">Choose a category:</label>
                            <select name="category" id="category">
                                <option value="Breakfast">Breakfast</option>
                                <option value="Lunch">Lunch</option>
                                <option value="Dinner">Dinner</option>
                                <option value="Snack">Snack</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button id="add" class="btn button"  data-dismiss="modal">Add Calorie</button>
                            <button id="closeBtn" class="btn btn-secondary" >Close</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="modal" tabindex="-1" id="Modal1">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title w-100 text-center fw-bold pl-100">Reduce calorie</h5>
                            <button id="closeBtn" class="close">&times;</button>
                        </div>
                        <div class="modal-body">
                            <td>Calorie</td>
                            <td><input type="number" name="calorie"  min="0" placeholder="Calorie" class="form-control" id="input_calorie1" oninput="validity.valid||(value='');"/></td>
                            <br>
                            <td>Deskripsi </td>
                            <textarea name="deskripsi" placeholder="Deskripsi" style="min-height: 100px" class="form-control" id="input_deskripsi1" ></textarea>
                        </div>
                        <div class="modal-footer">
                            <button id="decrease" class="btn button"  data-dismiss="modal">Reduce Calorie</button>
                            <button id="closeBtn" class="btn btn-secondary"  data-dismiss="modal">Close</button>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                        <!-- Card berisi Donatee -->
                        
                <div class="container">
                    <div class="row no-gutters">
                            <div id ="card">

                            </div>
                    </div>
                </div>
                
            </form>
        </div>

    </body>
    <footer class="bg-secondary text-center text-lg-start shadow text-light">
        <div class="text-center p-3">2022: Platform-Based Programming F02</div>
    </footer>
{% endblock content %}
