{% extends 'base.html' %}
{% load static %}
{% block meta %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="{% static '/editPageStyle.css' %}" />
<title>Calorie Tracker</title>
<script>
$(document).ready(function(data){
    var data = ("{{edit.category}}");
     $("#category").val(data);
});
</script>
{% endblock meta %}
{% block content %}
<nav class="navbar shadow navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home:show_index' %}">
            <img src="{% static 'NUTRIOUS.png' %}" alt="Logo" height="70" class="d-inline-block align-text-top">
        </a>
        <div class="d-flex flex-row">
            <div class="dropdown m-auto mx-3">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Profile
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'home:profile' %}">View Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'home:logout' %}">Log Out</a></li>
                </ul>
            </div>
             <!-- Pembeda dari user yang sudah verified dan belum adalah pada border dari profile picture -->
             {% if user.is_verified_user %}
             <img src="{{user_profile}}" class="rounded-circle shadow avatar m-auto mx-3 border border-success border-3">
             {% else %}
             <img src="{{user_profile}}" class="rounded-circle shadow avatar m-auto mx-3 border border-danger border-3">
             {% endif %}
        </div>
    </div>
</nav>
<body>
    <div class="container p-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-5">
                <div class="card bg-white text-dark shadow-lg border-0" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class = "login">
                            <h1 class="title fw-bold">Edit data</h1>
                                <form method="POST" action="{% url 'calorietracker:edit_add_save' edit.id %}">
                                    {% csrf_token %}
                                     
                                    <td>Calorie</td>
                                    <td><input type="number" name="calorie" min="0" value="{{edit.calorie}}" class="form-control" id="input_calorie"  oninput="validity.valid||(value='');"/></td>

                                    <td>Deskripsi </td>
                                    <input type="text" name="description" value="{{edit.description}}" s style="min-height: 100px" class="form-control" id="input_deskripsi"></input>
                                    
                                   
                                    <br>
                                    <label for="category">Choose a category:</label>
                                    <select name="category" id="category">
                                        <option value="Breakfast">Breakfast</option>
                                        <option value="Lunch">Lunch</option>
                                        <option value="Dinner">Dinner</option>
                                        <option value="Snack">Snack</option>
                                    </select>
                                    <div><br><button class="btn login_btn btn-primary mx-auto m-1" type="submit" value="Edit">Edit</button></div>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
